body {
    margin: 0;
    padding: 0;
    background: #151515 url("../images/bkg.png") 0 0;
    color: #eaeaea;
    font-size: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    height: 100vh;
}

.simple_text {
    color: #eaeaea;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    width: 33%;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #151515;
    background-clip: padding-box;
    border: 1px solid #90a959;
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    border: 0;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
    border: 0;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    color: #90a959;
    background: #90a959 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.container {
    margin: 0 auto
}

.task_input{
    background-color: inherit;
    color: #eaeaea;
    border: 1px solid #90a959;
    padding: 10px;
    margin: 1% 0 2% 0;
    outline: none;
}

.task_input:focus{
    border: 1px yellow solid;
}

h1, h2, h3, h4, h5, h6, .main_title {
    margin: 0 0 20px
}

header {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px dashed #b5e853;
    padding: 20px 0;
    margin: 0 0 40px 0
}

header h1, .main_title {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased
}

header h1, .main_title:before {
    content: "root@root:~$ ";
    font-size: 24px
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666
}

#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0
}

#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6, .main_title {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1)
}

#main_content h1 {
    font-size: 30px
}

#main_content h2 {
    font-size: 24px
}

#main_content h3 {
    font-size: 18px
}

#main_content h4 {
    font-size: 14px
}

#main_content h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0
}

#main_content h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 5px 0
}

.btn {
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-top: 2px solid #000;
    color: rgba(255, 255, 255, 0.8);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05)
}

.btn:hover {
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8))
}

.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    float: left
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5)
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.main-block{
    height: 70%;
    margin-top: 3%;
}